<div class="container" ng-controller="profileCtrl" style="background-color: white">
  <div class="span3 well">
    <center>
      <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="/images/person-flat.png" name="aboutme" width="140" height="140" class="img-circle"></a>
      <h3><%= req.session.User.firstName %>  <%= req.session.User.lastName %></h3>
      <em>click my face for more</em>
    </center>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title" id="myModalLabel"><%= req.session.User.firstName %>  <%= req.session.User.lastName %></h4>
        </div>
        <div class="modal-body">
          <center>
            <img src="/images/person-flat.png" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
            <h3 class="media-heading"><%= req.session.User.firstName %>  <%= req.session.User.lastName %> <small>Ua</small></h3>
            <span><strong>Skills: </strong></span>
            <span class="label label-warning">HTML5/CSS</span>
            <span class="label label-info">Adobe CS 5.5</span>
            <span class="label label-info">Microsoft Office</span>
            <span class="label label-success">Windows XP, Vista, 7</span>
          </center>
          <hr>
          <center>
            <p class="text-left"><strong>Bio: </strong><br>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem dui, tempor sit amet commodo a, vulputate vel tellus.</p>
            <br>
          </center>
        </div>
        <div class="modal-footer">
          <center>
            <button type="button" class="btn btn-default" data-dismiss="modal">I've heard enough about Joe</button>
          </center>
        </div>
      </div>
    </div>
  </div>


  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="tabbable" id="tabs-444468">
        <ul class="nav nav-tabs">

          <li class="active">
            <a href="#panel-1" data-toggle="tab">Add method</a>
          </li>

          <li>
            <a href="#panel-2" data-toggle="tab">My Methods</a>
          </li>

          <li>
            <a href="#panel-3" data-toggle="tab">My Settings</a>
          </li>
          <% if(req.session.User.role === 'admin') { %>
          <li>
            <a href="#panel-4" data-toggle="tab">List</a>
          </li>
          <% } %>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="panel-1">
            <div class="row clearfix">
              <div class="col-md-12 column tab-bottom">
                <div class="col-xs-12">
                  <span class="input-group-btn">
                      <h3>Upload file</h3>
                    <div class="btn btn-default image-preview-input" style="width: 100%">
                          <input type="file" nv-file-select="" class="btn bg-success" uploader="uploader" >
                    </div>
                  </span>
                </div>

                <div class="col-xs-12 col-md-10">
                  <h3>Name</h3>
                   <input id="name" name="name" type="text" ng-model="methodName" placeholder="Name" class="form-control">
                </div>
                <div class="col-xs-12 col-md-2" style="margin-top: 55px">
                  <button class="btn btn-info" data-placement="bottom" data-toggle="popover"  data-html="true" ng-click="create()">Create</button>
                </div>
                  <div class="col-xs-12" style="margin-bottom:30px">
                    <h3>Instruction</h3>
                    <trix-editor angular-trix ng-model="notes"></trix-editor>
                  </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="panel-2">
            <div class="row clearfix">
              <div class="col-md-12 column">
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th>№</th>
                    <th>Date</th>
                    <th>Name</th>
                    <th class="text-center">Options</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="owner in ownerList track by $index">
                    <td>{{$index}}</td>
                    <td>{{owner.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>{{owner.name}}</td>
                    <td class="text-center">
                      <button class="btn btn-info btn-right" data-toggle="modal" ng-click="setUpdateValue(owner)" data-target="#editModal">Edit</button>
                      <button class="btn btn-danger" ng-click="remove(owner.id)">Remove</button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="panel-3">
            <div class="row clearfix">
              <div class="col-md-12 column">

                <form class="form-horizontal">
                  <fieldset style="margin-top: 10px">

                    <!-- Form Name -->
                    <legend>Basic info</legend>

                    <!-- Select Basic -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="basicdetails_advertiser">First Name:</label>
                      <div class="col-md-4">
                        <input class="form-control">
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-md-4 control-label" for="basicdetails_advertiser">Last Name:</label>
                      <div class="col-md-4">
                        <input class="form-control">
                      </div>
                    </div>


                    <div class="form-group">
                      <label class="col-md-4 control-label" for="basicdetails_advertiser">Birthday:</label>
                      <div class="col-md-4">
                        <input type="date" class="form-control">
                      </div>
                    </div>

                    <legend>Contact info</legend>
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="basicdetails_advertiser">Phone:</label>
                      <div class="col-md-4">
                        <input class="form-control">
                      </div>
                    </div>

                    <div class="form-group text-center">
                      <button class="btn btn-success">Edit</button>
                    </div>

                  </fieldset>
                </form>

              </div>
            </div>
          </div>

          <% if(req.session.User.role === 'admin') { %>
          <div class="tab-pane" id="panel-4">
            <div class="row clearfix">
              <div class="col-md-12 column">
                  <div class="col-xs-12">
                    <h4>Pending list</h4>

                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th>№</th>
                        <th>Date</th>
                        <th>Name Method</th>
                        <th>User</th>
                        <th class="text-center">Status</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="pdf in pendingList track by $index">
                        <td>{{$index + 1}}</td>
                        <td>{{pdf.date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td><a href="/images/pdf/{{pdf.id}}.pdf">{{pdf.nameMethod}}</a></td></a>
                        <td>{{pdf.ownerID.firstName}} {{pdf.ownerID.lastName}}</td></a>
                        <td class="text-center">
                          <span style="cursor: pointer" ng-click="changeStatus('approved',pdf.id)" class="label label-success">Approve</span>
                          <span style="cursor: pointer" ng-click="changeStatus('denied',pdf.id)" class="label label-danger">Denied</span></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="col-xs-12">
                    <h4>Approved list</h4>

                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th>№</th>
                        <th>Date</th>
                        <th>Name Method</th>
                        <th>User</th>
                        <th class="text-center">Status</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="pdf in approvedList track by $index">
                        <td>{{$index + 1}}</td>
                        <td>{{pdf.date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td><a href="/images/pdf/{{pdf.id}}.pdf">{{pdf.nameMethod}}</a></td></a>
                        <td>{{pdf.ownerID.firstName}} {{pdf.ownerID.lastName}}</td></a>
                        <td class="text-center"><span class="label label-success">{{pdf.status}}</span> </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>


                  <div class="col-xs-12">
                    <h4>Denied list</h4>

                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th>№</th>
                        <th>Date</th>
                        <th>Name Method</th>
                        <th>User</th>
                        <th class="text-center">Status</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="pdf in deniedList track by $index">
                        <td>{{$index + 1}}</td>
                        <td>{{pdf.date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td><a href="/images/pdf/{{pdf.id}}.pdf">{{pdf.nameMethod}}</a></td></a>
                        <td>{{pdf.ownerID.firstName}} {{pdf.ownerID.lastName}}</td></a>
                        <td class="text-center" ><span class="label label-danger">{{pdf.status}}</span></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
            </div>
          </div>
          <% } %>

        </div>
      </div>

    </div>
  </div>


  <div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Method</h4>
        </div>

        <div class="modal-footer">
          <br/>
          <input id="name" name="name" type="text" ng-model="method.name" placeholder="Name" class="form-control">
          <div class="col-xs-12" style="margin-bottom:30px">
            <br/>
            <trix-editor angular-trix ng-model="method.notes"></trix-editor>
          </div>
          <button type="button" class="btn btn-success" ng-click="editMethod()" data-dismiss="modal">Update</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>



</div>
<footer>
  <div class="container">

    <div class="copy text-center">
      &copy; 2017 <a href='#'>TestingMaths</a>
    </div>

  </div>
</footer>
